<html>
  <head>
    <title> ToDo App </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/modals.css" type="text/css"/>
  </head>
  <body>
  <header>To Do List</header>
  <form method="POST" action="/add" class="searchBar">
    <textarea class="textbox" name="text" placeholder="search"></textarea>
    <button type="button" class="btn btn-light">Search</button>
  </form>
  <%- include("partials/task",{title:"Books (to read)", tasks: tasks.filter(i => i.category_id === 1), id:"booksModal"}) %>
  <%- include("partials/task",{title:"Products (to buy)",tasks:tasks.filter(i => i.category_id === 4), id:"buyModal"}) %>
  <%- include("partials/task",{title:"movies",tasks:tasks.filter(i => i.category_id === 3), id:"eatModal"}) %>
  <%- include("partials/task",{title:"Restaurants, cafes (to eat)",tasks:tasks.filter(i => i.category_id === 2), id:"watchModal"}) %>
  <%- include("partials/task",{title:"Other",tasks: tasks.filter(i => i.category_id === 5), id:"otherModal"}) %>
    <section class="container">
        <div class="read" data-toggle="modal" data-target="#booksModal">
          <i class="material-icons">
            library_books
            </i>
          <p>Books (To read)</p>
        </div>
        <div class="buy" data-toggle="modal" data-target="#buyModal">
          <i class="material-icons">
            shopping_cart
            </i>
          <p>Products (to buy)</p>
        </div>
        <div class="eat" data-toggle="modal" data-target="#eatModal">
          <i class="material-icons">
            fastfood
            </i>
          <p>Restaurants, cafes, etc. (To eat)</p>
        </div>
        <div class="watch" data-toggle="modal" data-target="#watchModal">
          <i class="material-icons">
            tv
            </i>
          <p>Film / Series (To watch)</p>
        </div>
        <div class="other" data-toggle="modal" data-target="#otherModal">
          <i class="material-icons">
            more_horiz
            </i>
          <p>Other</p>
        </div>
      </div>
    </div>
</div>
<footer>
  <form method="GET" action="/todo/add">  <button class="btn btn-light"><i class="material-icons">
    add
    </i></button>
   </form>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</section>
</html>

